<div class="header_container">
    <h1 class="title_header">Investigation System <br> Comparator</h1>
    <nav class="menu_header">
        <div class="container">
          <div class="collapse navbar-collapse" >
            <ul class="row_header">
              <li class="column_header">
                <a href="#" *ngIf="header_titles != undefined ">{{header_titles[0]}}</a>
              </li>
              <li class="column_header">
                <a href="#" *ngIf="header_titles != undefined ">{{header_titles[1]}}</a>
              </li>
              <li class="column_header">
                <a href="#" *ngIf="header_titles != undefined ">{{header_titles[2]}}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
