<div class="main_container pc-view">
  <div class="view_container">
    <h2 [ngClass]="{'bold-title': !cvlac_view}">Dublin core </h2>
    <p-inputSwitch class="article_view_switch" [(ngModel)]="cvlac_view"></p-inputSwitch>
    <h2 [ngClass]="{'bold-title': cvlac_view}">Vista en Cvlac</h2>
  </div>
</div>
<div class="main_container phone-view">
  <div class="view_container">
    <h2 *ngIf="!cvlac_view" [ngClass]="{'bold-title': !cvlac_view}">Dublin core</h2>
    <h2 *ngIf="cvlac_view" [ngClass]="{'bold-title': cvlac_view}">Vista en Cvlac</h2>
    <p-inputSwitch class="article_view_switch" [(ngModel)]="cvlac_view"></p-inputSwitch>
  </div>
</div>
<div class="main_container">
  <div style="display: flex;" *ngIf="cvlac_view else dublin_core_view" class="second_container"
       [innerHTML]="article_cvlac_html"></div>
  <ng-template #dublin_core_view>
    <div class="second_container">
      <div>
        <h3>Autores </h3>
        <p>{{article_data.autores}}</p>
      </div>
      <div>
        <h3>Año de publicación </h3>
        <p>{{article_data.anio}}</p>
      </div>
      <div>
        <h3>Idioma </h3>
        <p>No se puede recuperar de CvLAC</p>
      </div>
      <div>
        <h3>Tipo de recurso </h3>
        <p>{{article_data.tipo_articulo}}</p>
      </div>
      <div>
        <h3>Editorial </h3>
        <p>{{article_data.editorial_revista}}</p>
      </div>
      <div>
        <h3>Fuente </h3>
        <p>
          {{article_data.nombre_revista}} |
          issn: {{article_data.ISSN}} |
          vol. {{article_data.volumen}} |
          fasc. {{article_data.fasciculo}} |
          pag. {{article_data.pagina_inicio}} - {{article_data.pagina_fin}}
        </p>
      </div>
      <div>
        <h3>Otro colaborador</h3><p>No se registra en CvLAC</p>
      </div>
      <div>
        <h3>Formato </h3><p>No se registra en CvLAC</p>
      </div>
      <div>
        <h3>Identificador DOI </h3>
        <div>
          <a href="https://www.doi.org/{{article_data.doi}}" target="_blank">
            {{article_data.doi}}
          </a>
        </div>
      </div>
      <div>
        <h3>Alcance </h3><p>No se registra en CvLAC</p>
      </div>
      <div>
        <h3>Palabras clave </h3>
        <p>{{article_data.palabras_claves}}</p>
      </div>
      <div>
        <h3>Descripción </h3><p>No se registra en CvLAC</p>
      </div>
    </div>
  </ng-template>
</div>
<div class="sub_main_container" *ngIf="cvlac_view">
  <div class="info_container">
    <h4>
      <i class="pi pi-info-circle" style="font-size: 1.2rem"></i>
      El artículo contiene <b>{{this.percent_metadata}}%</b> de los
      metadatos posibles registrados en CvLAC.
    </h4>
  </div>
</div>
<p-divider type="dashed"></p-divider>
