.main_container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.container{
  width: 90%;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  
}

.element_table{
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.icon{
  width: 20%;
}

img{
  width: 30%;
  float: right;
}

.text_table{
  float: left;
  width: 70%;
  font-weight: 800;
  font-size: 2.4rem;
}

.text_table2{
  float: left;
  width: 70%;
}

.sub_main_container{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.info_container{
  width: 80%;
  font-family: "Inter";
  font-size: 1.2rem;
  color: #000000;
  text-align: center;
  text-align: justify;
}

h1{
  font-weight: 200;
}

/* Estilos para pantallas de 768px o menos */
@media (max-width: 768px) {
  .main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  
  .container {
    width: 90%;
    height: auto;
    background: #EEF0FE;
    border-radius: 30px;
    overflow-y: auto;
    margin-bottom: 20px;
    display: block;
    grid-template-columns: 1fr 1fr;
  }
  
  .element_table {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000000;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 30%;
  }
  
  img {
    width: 50%;
    float: none;
    margin: 0 auto;
  }
  
  .text_table {
    float: none;
    width: 100%;
  }
  
  .sub_main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .info_container {
    width: 90%;
    font-family: "Inter";
    font-size: 1rem;
    color: #000000;
    text-align: center;
    text-align: justify;
  }
  
  h1 {
    font-weight: 200;
    font-size: 1.5rem;
  }
}