<div class="main_container">
  <div class="container">
    <div class="element_table" [ngSwitch]="isContented(article_data['anio'])">
      <h1 class="text_table">Fecha Publicación: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png" >
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['doi'])">
      <h1 class="text_table">Doi: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['palabras_claves'])">
      <h1 class="text_table">Palabras Clave: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['ISSN'])">
      <h1 class="text_table">Issn ID: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['volumen'])">
      <h1 class="text_table">Volumen: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['autores'])">
      <h1 class="text_table">Autores: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['tipo_articulo'])">
      <h1 class="text_table">Tipo Articulo: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="isContented(article_data['nombre_revista'])">
      <h1 class="text_table">Revista editorial: </h1>
      <img *ngSwitchCase="true" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="false" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table" [ngSwitch]="article_data['marca_verificacion']">
      <h1 class="text_table">Marca Verificación: </h1>
      <img *ngSwitchCase="false" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="true" class="icon" src="./assets/checked.png">
    </div>

    <div class="element_table"  [ngSwitch]="article_data['paginacion']">
      <h1 class="text_table">Paginación: </h1>
      <img *ngSwitchCase="false" class="icon" src="./assets/unchecked.png">
      <img *ngSwitchCase="true" class="icon" src="./assets/checked.png" >
    </div>
  </div>
</div>
<div class="sub_main_container">
  <div class="info_container">
    <h1>
      Del articulo {{ article_data['Nombre'] }} se obtuvo que contiene {{this.get_percent_completed()}} % de los 
      metadatos evaluados sobre el estandar evaluado Dublin Core.
    </h1>
  </div>
  
</div>
