<div class="main_container">
  <div class="search_bar_container">
    <input type="text" [(ngModel)]="name_searched"/>
  </div>
  <span><button type="image" class="button_search"><img src="./assets/searchbaricon.jpg" (click)="search()" ></button></span>
</div>
<div class="main_container">
  <div class="main_container2" *ngIf="isClicked" >
      <h1 class="element" *ngFor="let author of list_authors" ><a (click)="redirectToCv(author.id_cv)">{{format_text(author.Nombre)}}
        <br> {{format_text(author.id_cv)}} </a>
      </h1>
  </div>
</div>
  