.main_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
  height: 400px;
  background: #EEF0FE;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  overflow-y: auto;
  margin-bottom: 100px;
}

.box {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas con el mismo ancho */
  gap: 10px;
  grid-auto-rows: auto;
  text-align: center;
  background-color: re;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}





.box_elements{
  margin: 0;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000000;
}


.table_header{
  margin: 0;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 2.0rem;
  color: #000000;
}







