<div class="main_container">
    <div class="container">
        <div class="box">
            <h1 class="table_header">Nombre</h1>
            <h1 class="table_header">Autor</h1>
            <h1 class="table_header">Identificador</h1>
            <h1 class="table_header">Doi</h1>
            <h1 class="table_header">Metrícas</h1>
        </div>
        <div *ngFor="let article of articles"  >
            <div class="box">
                <h2 class="box_elements">{{ article.getName() }}</h2>
                <h2 class="box_elements">{{ article.getAuthors() }}</h2>
                <h2 class="box_elements">{{ article.getId() }}</h2>
                <h2 class="box_elements">{{ article.getDoi() }}</h2>    
                <button type="image"><img src="./assets/cube.png"></button>           
        </div>
    </div>
</div>
