<div class="main_container">

    
<div class="container">
    <h1>
        Esta es una herramienta desarrollada con fines investigativos, con el objetivo
  de brindar a los usuarios de manera general los aspectos más importantes de la
  investigación realizada sobre la calidad de los datos registrados en el
  sistema colombiano para almacenamiento de la información científica, CvLAC.
  Para lograrlo, se ha incorporado lo siguiente:
</h1>
<h2>Buscador de hojas de vida</h2>
<h3>
    El buscador de hojas de vida tiene como objetivo permitir a los usuarios
    navegar por la información abierta proporcionada por CvLAC sobre los perfiles
  de los investigadores, brindando una visión general de la información
  relevante, como los artículos realizados, el número de artículos publicados y,
  en caso de tenerlo, la categoría a la que pertenecen.
</h3>

<h2>Visualizador de artículos</h2>
<h3>
  Una vez se buscan las hojas de vida, se puede acceder rápidamente a los
  aspectos más importantes de los artículos seleccionados en la vista del perfil
  del investigador, lo que nos permite explorar los metadatos que contienen y
  observar la información general sobre cómo se presentan los registros.
</h3>

<h2>Visualizador de reportes</h2>
<h3>
  Por último, en la pestaña de Gráficos, encontramos información general sobre
  los principales hallazgos, presentada de forma visual. Podremos observar
  información sobre los metadatos, comparativas a nivel de países sobre los
  registros de los artículos en otras bases de datos, entre otros aspectos.
</h3>
</div>
</div>
