.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  .container{
    width: 90%;
    height: 600px;
    background: #EEF0FE;
    box-sizing: border-box;
    border-radius: 30px;
    overflow-y: auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  .element_table{
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  
  .icon{
    height: 50px;
  }
  
  img{
    float: right;
  }
  
  .text_table{
    float: left;
    width: 70%;
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .sub_main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .info_container{
    width: 80%;
    font-family: "Inter";
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    text-align: justify;
  }
  
  h1{
    font-weight: 200;
    font-family: "Inter";
    font-size: 1.4rem;
    margin-bottom: 40px;
  }

  .puntuation_table{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    text-align: center;
    border: solid;
    margin-left: 15%;
    margin-bottom: 50px;
    padding-top: 20px;

  }

  .puntuation_table_item{
    font-size: 1.2rem;
    
  }
  
  /* Estilos para pantallas de 768px o menos */
  @media (max-width: 768px) {
    .main_container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
    
    .container {
      width: 90%;
      height: auto;
      background: #EEF0FE;
      border-radius: 30px;
      overflow-y: auto;
      margin-bottom: 20px;
      display: block;
      grid-template-columns: 1fr 1fr;
    }
    
    .element_table {
      font-family: "Inter";
      font-style: italic;
      font-weight: 400;
      font-size: 0.8rem;
      color: #000000;
      text-align: center;
      display: block;
      justify-content: center;
      align-items: center;
    }
    
    .icon {
      width: 30%;
    }
    
    img {
      width: 50%;
      float: none;
      margin: 0 auto;
    }
    
    .text_table {
      float: none;
      width: 100%;
    }
    
    .sub_main_container {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    .info_container {
      width: 90%;
      font-family: "Inter";
      font-size: 1rem;
      color: #000000;
      text-align: center;
      text-align: justify;
    }
    
    h1 {
      font-weight: 200;
      font-size: 1.5rem;
    }
  }