<div class="sub_main_container">
  <div class="info_container">
    <h1 style="font-weight: bold">
      Calificación  {{article_rating.total}}/100
    </h1>
    Esta calificación se obtiene teniendo en cuenta los metadatos del articulo y su verificación, como se indica en la <b>tabla de puntuación
    <a [routerLink]="['/about']">
      <i class="pi pi-external-link" style="font-size: 1rem"></i>
    </a>
  </b>
  </div>
</div>
<div class="main_container">
  <div class="second_container">
    <div id="punctuation_card" *ngFor="let model of TABLE_MODEL" class="element_table">
      <div class="element_table">
        <!--on phone screens the score is at the top of the comment--->
        <circle-progress class="phone-screen icon"
                         [percent]="article_rating[model.fieldName]/model.totalPunctuation*100"
                         [radius]="40"
                         [space]="-4"
                         [outerStrokeWidth]="4"
                         [innerStrokeWidth]="4"
                         [animation]="true"
                         [title]="get_punctuation(model.fieldName)+'/'+model.totalPunctuation"
                         [animationDuration]="600"
        ></circle-progress>
        <div class="text_table">
          <h2>
            <i class="hide-on-mobile pi {{model.iconName}}" style="font-size: 1.7rem"></i>
            {{model.title}}
          </h2>
          <p style="margin-left: 5px" [innerHTML]="model.get_html_comment()"></p>
        </div>
        <!--on phone screens the score is on the right side of the comment-->
        <circle-progress class="pc-screen icon"
                         [percent]="article_rating[model.fieldName]/model.totalPunctuation*100"
                         [radius]="35"
                         [space]="-4"
                         [outerStrokeWidth]="4"
                         [innerStrokeWidth]="4"
                         [animation]="true"
                         [title]="get_punctuation(model.fieldName)+'/'+model.totalPunctuation"
                         [animationDuration]="600"
                         [titleFontSize]="'1.5rem'"
        ></circle-progress>
      </div>
    </div>
  </div>
</div>
<p-divider type="dashed"></p-divider>
