<div class="subtitle">  Buscador de Cv (CVLac Colombia) </div>
<div style="width: 100%; display: flex; justify-content: center; align-items: center;"><h1 class="search_instruction"> Para consultar ingresar: nombre, apellido o identificador del investigador  </h1></div>
<app-search-bar ></app-search-bar>
<div style="width: 100%; display: flex; justify-content: center; align-items: center;"><h1 class="search_instruction"> Al realizar la búsqueda, observaremos la lista de investigadores registrados en la plataforma CVLAC, donde encontraremos sus identificadores, institución de formación e identificadores registrados.</h1></div>
<div style="width: 100%; display: flex; justify-content: center;"><hr style="width: 80%;"></div>
<div class=" logo_container">
    <div class=" logos">
        <div class="logo_container2"><img src="./assets/home_logo.png" class="logo"></div>
        <div class="logo_container2"><img src="./assets/chart_logo..png" class="logo"></div>
        <div class="logo_container2"><img src="./assets/about_logo.jpg" class="logo"></div>
    </div>
</div>
