.subtitle {
    margin-top: 20px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;    
    color: #000;
    padding-left: 15px;
}

h1.subtitle{
    text-align: center;
    font-size: 3.0rem;
}

h2.subtitle{
    font-size: 2.2rem;
    width: 80%;
    margin-left: 15px;
}

.container_table{
    width: 100%;
}

@media (max-width: 768px) {
    .subtitle {
      margin-top: 10px;
      font-size: 1.5rem;
      padding-left: 10px;
    }
    
    h1.subtitle {
      text-align: center;
      font-size: 2rem;
    }
    
    h2.subtitle {
      font-size: 1.5rem;
      width: 90%;
      margin-left: 10px;
    }
    
    .container_table {
      width: 100%;
    }
  }
  