<h1 class="subtitle">Evaluación Métricas según Dublin Core</h1>
<h1 class="subtitle2" *ngIf="isLoaded">A continuación encontramos la evaluación de calidad de los datos propuestas,
para ellos tomamos en cuenta los metadatos extraídos para ser evaluados del artículo: </h1>
<br>
<div class="title_container">
    <h1 class="article_title" *ngIf="isLoaded">Nombre Artículo :  <h1 class="article_content">{{this.data["nombre_articulo"]}}</h1></h1>
</div>
<app-metrics-table [article_data]="article_data" [percent_metadata]="percent_metadata" *ngIf="isLoaded"></app-metrics-table>
<app-puntuation-table [article_data]="article_data" *ngIf="isLoaded"></app-puntuation-table>
<app-article-puntuation-chart [article_name]= "this.article_name" *ngIf="isLoaded"></app-article-puntuation-chart>
<br><br><br>

